<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dating App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ul>
    <li *ngFor="let u of users"> {{ u.id }} - {{ u.userName }}</li>
  </ul>
</ion-content>
